.add-todo {
  border: solid 1px var(--base-border-color);
  padding: calc( var(--base-spacing) * 2);
  display: flex;
  justify-content: space-between;
  background: var(--base-background);
}
.add-todo input {
  width: 100%;
}
.add-todo button {
  white-space: nowrap;
  margin-left: var(--base-spacing);
}