body {

  --base-spacing: .25em;
  --base-shadow: 0 0 9px -5px #0000004f;
  --hover-brightness: .9;
  --base-background: #fff;  
  --base-gray: #eff2f6;
  --base-blue: #1663d6;
  --base-green: #54b64d;
  --base-yellow: #fd931a;
  --base-red: #ef603a;  
  --base-light-gray: #f4f7fb;  

  --base-light-yellow: #fff0c1;  
  --base-light-green: #ddf0db;
  --base-light-blue: #e4f8ff;  

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--base-light-gray);
}

body, input, button, textarea {
  font-size: 4vw;
}
@media only screen and (min-width: 1000px) {
  body, input, button, textarea {
    font-size: 30px;
  }
}
@media only screen and (max-width: 600px) {
  body, input, button, textarea {
    font-size: 25px;
  }
}

textarea,
input[type=email],
input[type=password],
input[type=text] {
  border: solid 1px var(--base-gray);
  padding: var(--base-spacing) calc(var(--base-spacing) * 2);
  border-radius: var(--base-spacing);
  background: var(--base-light-gray);
  outline: none;  
  height: 2.25em;
  box-sizing: border-box;  
}
textarea:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus {
  background: var(--base-background);
  border-color: var(--base-light-blue);
  box-shadow: var(--base-shadow);  
}
button {
  height: 2.25em;
  box-sizing: border-box;
  padding: var(--base-spacing) calc(var(--base-spacing) * 2);
  border-radius: var(--base-spacing);  
  border: none;
  cursor: pointer;  
  transition: all .3s;  
  outline: none;    
}
button[type=submit] {
  background: var(--base-blue);
  color: var(--base-background);
}
button:hover,
button:focus {
  filter: brightness(var(--hover-brightness)); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}